{% extends 'base.html' %}

{% block header %}
  <h1><img src="{{ url_for('static', filename=action.img)}}" width='60' height='50'>{% block title %} {{ action.title }}{% endblock %}</h1>
  {% if g.user.id == action.id_user %}
    <a class="action" href="{{ url_for('main.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for item in items %}
    <article class="post">
      <header>
        <div>
          <h1 >{% if item.yes_no == True %} ✔️ <del>{{ item.text }}</del> {% elif item.yes_no == False %} ❌  {{ item.text }}{% endif %} </h1>
        </div>
        {% if g.user.id == action.id_user %}
          <a class="action" href="">Edit</a>
        {% else %}
          {% if item.yes_no == False %}
             <a class="action" href="{{ url_for('confirm', id=item.id) }}" ><button class="confirm-button" onclick="return confirm('Are you sure?');">Confirm</button></a>
          {% endif %}
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <hr>
  {% if g.user.id == action.id_user %}
        <form method="post">
            <label for="text">Add new one</label>
            <input class='cust-input' name="text" id="text" value="{{ request.form['text'] }}" required>
            <input type="submit" value="Add new">
        </form>
    {% endif %}
{% endblock %}